@{
    ViewBag.Title = "- Login";
}

<link href="~/Content/css-folder/account/login.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login-page">
        <div class="form-horizontal">
            <h2>SIGN IN</h2>
            <h4>Please enter your email and password!</h4>
            <hr />
            <h6>* are required areas!</h6>
            <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Username*", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="username" class="form-control" />
                </div>
            </div>


            <div class="form-group">
                <div class="input-group-append">
                    @Html.Label("Password*", new { @class = "control-label col-md-2" })
                    <button type="button" class="btn btn" id="togglePassword" onclick="togglePasswordVisibility()">
                        🙈
                    </button>
                </div>
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="password" id="passwordInput" name="password" class="form-control" />
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-dark" />
                </div>
            </div>
            <hr />
            <p class="text-left">Don't have an account? @Html.ActionLink("Sign Up", "Register")</p>
        </div>
    </div>
}

<!-- JavaScript -->
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        var toggleBtn = document.getElementById("togglePassword");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleBtn.innerText = "🙉";
        } else {
            passwordInput.type = "password";
            toggleBtn.innerText = "🙈";
        }
    }
</script>
