@model TodoList.Models.User

@{
    ViewBag.Title = "- Register";
}

<link href="~/Content/css-folder/account/register.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="register-page">
        <div class="form-horizontal">
            <h2>SIGN UP</h2>
            <h4>Please fill out your information completely!</h4>
            <hr />
            <h6>* are required areas!</h6>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control username-field" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="input-group-append">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <button type="button" class="btn btn" id="togglePassword" onclick="togglePasswordVisibility('passwordInput', 'togglePassword')">
                        🙈
                    </button>
                </div>
                <div class="col-md-10">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control password-field", @id = "passwordInput" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group-append">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                    <button type="button" class="btn btn" id="toggleConfirmPassword" onclick="togglePasswordVisibility('confirmPasswordInput', 'toggleConfirmPassword')">
                        🙈
                    </button>
                </div>
                <div class="col-md-10">
                    <div class="input-group">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control confirm-password-field", @id = "confirmPasswordInput" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-success" />
                </div>
            </div>
            <hr />
            <p class="text-left">Already have an account? @Html.ActionLink("Sign In", "Login")</p>
        </div>
    </div>
}

<!-- JavaScript -->
<script>
    function togglePasswordVisibility(inputId, buttonId) {
        var passwordInput = document.getElementById(inputId);
        var toggleBtn = document.getElementById(buttonId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleBtn.innerText = "🙉";
        } else {
            passwordInput.type = "password";
            toggleBtn.innerText = "🙈";
        }
    }
</script>

