@model TodoList.Models.TodoItem

@{
    ViewBag.Title = "- Delete";
}

<link href="~/Content/css-folder/todo/delete.css" rel="stylesheet" type="text/css" />


<div class="delete-card">

    <dl class="dl-horizontal">
        <h2>Delete Todo</h2>
        <h3>Are you sure you want to delete your "@Html.DisplayFor(model => model.Title)" task?</h3>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Model.CreatedAt.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndedDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Action("Index", "Todo")" class="btn btn-secondary">Cancel</a>

        </div>
    }
</div>