@model TodoList.Models.TodoItem

@{
    ViewBag.Title = "- Details";
}

<link href="~/Content/css-folder/todo/details.css" rel="stylesheet" type="text/css" />


<div class="details-card">
    <h2>"@Html.DisplayFor(model => model.Title)" Task Details</h2>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Model.CreatedAt.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndedDate)
        </dd>
    </dl>
    <div>
        <a href="@Url.Action("Edit", "Todo", new { id = Model.Id })" class="btn btn-secondary">Edit</a> |
        <a href="@Url.Action("Index", "Todo")" class="btn btn-danger">Back To List</a>

    </div>
</div>
