@model IEnumerable<TodoList.Models.TodoItem>

@{
    ViewBag.Title = "- Todo List";
}

<link href="~/Content/css-folder/todo/index.css" rel="stylesheet" type="text/css" />


<a href="@Url.Action("Create")" class="add-todo-btn">Add New Todo</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().IsCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EndedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="displayfor-items">
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.CreatedAt.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndedDate)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="action-btn btn-edit">Edit</a>
                <a href="@Url.Action("Details", new { id = item.Id })" class="action-btn btn-details">Details</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="action-btn btn-delete">Delete</a>
            </td>
        </tr>
    }

</table>
